body {
    font-family: "Hubballi", sans-serif;
    font-size: 22px;
    padding: 0;
    line-height: 1.6;
    color: #563C27;
    background-color: #e9dfcf;
  }
  
  .hubballi-regular {
    font-family: "Hubballi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .homemade-apple-regular {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .header {
    display: flex;
    padding: 3px 0;
    border-bottom: 1px solid #023021;
    margin-bottom: 10px;
  }
  
  .header h1{
    text-align: flex;
    padding: 3px 0;
  
  }
  
  .header img{
    text-align: flex;
    width: 100%;
    width: 150px;
    height: 100px;
    object-fit: fill;
  }
  
  .logo{
    font-family: "Homemade Apple", cursive;
    font-style: normal;
    color: #023021;
    font-size: 24px;
    font-weight: 700;
    text-align: flex;
    width: 90%;
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 30px;
    padding: 0;
  }
  
  .nav-menu a {
    text-decoration: none;
    font-weight: 400;
    color: #023021;
    transition: color 0.3s;
    font-size: 28px;
  }
  
  nav {
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    width: 100%;
  }
  
  .qm_somos h1 {
  color: #023021;
  }
  
  p,h3 {
    text-align: left;
    font-size: 28px;
    margin-left: 10px;
  }
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container h1{
      color: #023021;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 4px #563C27;
    transition: 0.3s;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .footer {
    background: #023021;
    color: #e9dfcf;
    text-align: center;
    padding: 15px 0;
  }
   
    .recipe-modal {
      border: none;
      border-radius: 8px;
      padding: 0;
      max-width: 600px;
      position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
      width: 90%;
      background-color: #e9dfcf;
    }
    
    .recipe-modal::backdrop {
      background-color: rgba(02, 30, 21, 0.5);
     
    }
    
    .modal-content {
      padding: 20px;
      position: relative;
      max-height: 80vh; /* Altura máxima do modal */
      overflow-y: auto;
      font-family: "Homemade Apple", cursive;
      font-weight: 400;
      font-style: normal;
      color: #023a21;
    }
  
    .recipe-details {
      margin: 20px 0;
    }
    
    .recipe-details h3 {
      color: #023a21;
      text-align: center;
    }
    
    .recipe-details ul,
    .recipe-details ol {
      margin-left: 20px;
      line-height: 1.6;
      font-family: "Hubballi", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    .recipe-modal[open] {
      animation: modal-open 0.3s ease-out;
    }
  
    .recipe-info {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 20px 0;
      padding: 10px;
      background-color: #e9dfcf;
      border-radius: 8px; 
      font-family: "Hubballi", sans-serif;
      font-weight: 400;
      font-style: normal;
      border: 2px solid #023021;
      border-radius: 4px 4px 4px  4px;
      outline: none;
  
    }
    
    .recipe-info span {
      display: flex;
      align-items: center;
      margin: 5px 10px;
      font-size: 14px;
      color: #555;
      font-size: 24px;
    }
  
    
    .recipe-info i {
      margin-right: 5px;
      font-family: "Hubballi", sans-serif;
      font-weight: 400;
      font-style: normal;
      
    
    }
  
    button {
      background-color: #023021;
      color: #e9dfcf;
      border: none;
      padding: 10px 20px;
      border-radius: 25px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      outline: none;
      font-family: "Hubballi", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .recipes-container {
      padding: 40px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 30px;
      max-width: 1400px;
      margin: 0 auto;
      
    }
  
    .recipes-container img {
      width: 100%;
      height: 200px;
      object-fit: cover;
  }
  
    .recipe-field h2 {
      font-size: 25px;
      color: #023021;
      margin-bottom: 10px;
      
    }
    
    .recipe-details h3, h4 {
      color: #023021;
      font-size: 22px;
      margin: 20px 0 15px;
      font-family: "Homemade Apple", cursive;
      font-weight: 400;
      font-style: normal;
    }
  
    .recipe-details ul {
      list-style: none;
      font-family: "Hubballi", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  
    .filter {
      text-align: center;
      margin: 30px 0;
    }
    
    .filter button {
      margin: 0 10px;
      padding: 10px 20px;
      background-color: #e9dfcf;
      color: #023a21;
      border: 2px solid #023021;
      border-radius: 25px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Sombra mais sutil */
      transition: all 0.3s ease;
      font-family: "Hubballi", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
    }
  
    .footer {
      margin-top: 250px;
      background: #023021;
      color: #e9dfcf;
      text-align: center;
      padding: 15px 0;
  }
  
  .recipes-container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
  }
  .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
  }
  
  .card {
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 2px 4px #563C27;
      transition: 0.3s;
  }
  
  .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
  }
  
  .no_results p {
    font-family: "Hubballi", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 8px;
    text-justify: center;
    font-size: 20px;
    color: #023021;
  }
  
  .video {
      flex: 0 0 calc(33.33% - 10px); /* Para 3 vídeos por vez */
      margin: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
  }
  
  iframe {
      width: 100%;
      height: 100%;
      border: none;
      aspect-ratio: 1 / 1; /* Faz os vídeos serem quadrados */
      border-radius: 8px;
  }
  
  .carrossel-container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
  }
  
  .carrossel-container h1 {
      color: #023021;
  }
  
  .carrossel {
      display: flex;
      transition: transform 0.5s ease-in-out;
  }
  
  
  
  